<div>
    <div class="hero overlay" style="background-image: url('./assets/images/background.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 ml-auto">
                    <p>BEM-VINDO AO ELILO</p>
                    <h2 class="text-white">Entregamos em minutos os produtos que mais desejas. </h2>
                    <div id="date-countdown"></div>
                    <p>
                        <a href="https://shop.eliloapp.com/#/" class="btn btn-primary py-3 px-4 mr-3">Ir para loja</a>
                        <a href="#" class="more light">Saber mais sobre</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="d-flex team-vs">
                    <div class="team-1 w-50">
                        <div class="team-details w-100 text-center">
                            <i class="fas fa-car-side fa-3x text-white"></i>
                            <h3>Entregas</h3>
                            <ul class="list-unstyled">
                                <li>De forma segura e cômoda até a sua casa.</li>
                                <li>Grátis em pedidos acima de 25.000kz</li>
                            </ul>
                            <h3>Tempo de Entrega</span></h3>
                            <ul class="list-unstyled">
                                <li>Missão de entregue à sua porta em até 30 minutos.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-2 w-50">
                        <div class="team-details w-100 text-center">
                            <i class="fas fa-user-shield fa-3x text-white"></i>
                            <h3>Pagamento</span></h3>
                            <ul class="list-unstyled">
                                <li>Pagamento de segurança </li>
                                <li>Pagamento na entrega e varias opcões </li>
                            </ul>

                            <i class="fas fa-user-shield fa-3x text-white"></i>
                            <h3>Produtos variados</span></h3>
                            <ul class="list-unstyled">
                                <li>Todos os seus mantimentos essenciais
                                    num só lugar.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container site-section">

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 title-section">
                        <h2 class="heading">Saiba mais sobre Elilo Angola</h2>
                    </div>
                </div>


                <div class="custom-media d-flex">

                    <div class="text">

                        <h3 class="mb-4">
                            Elilo é um app! Somos um Mercado online onde se concentra os melhores Produtos de diversos
                            segmentos. Temos ainda o serviço Elilo.Pack, no qual poderá enviar qualquer Produto. Tudo de
                            uma forma segura, cómoda e prática.
                        </h3> 
                        <p>
                            Garantimos aos nossos clientes plataformas fáceis de usar, produtos de qualidade com preços
                            competitivos, velocidade de entrega e uma boa experiência para os nossos cliente, desde o
                            momento que o cliente faz o pedido até a entrega.
                        </p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 title-section">
                        <h2 class="heading">MISSÃO</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 title-section">
                        <h2 class="heading">Visão</h2>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 title-section">
                        <h2 class="heading">VALORES</h2>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="custom-media d-flex">
                    <div class=" ">
                        <img src="./assets/images/cat-1.png" alt="Image" class="img-fluid">
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Categorias populares</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/frutas.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">FRUTAS & LEGUMES</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/bebida.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">BEBIDAS</h3> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/alcol.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">ÁLCOOL</h3>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/laticinio.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">LACTICÍNIOS E OVOS</h3>
       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/arroz.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">ARROZ & MASSA</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/padaria.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">PASTELARIA & DOÇARIA</h3>
    
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/congelado.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">CONGELADOS</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="post-entry">
                        <a href="#">
                            <img src="./assets/images/molhos.png" alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">MOLHOS & CONDIMENTOS</h3>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
 
    <div class="site-section">
        <div class="container">
         

            <div class="swiper mySwiper cat-item2">



                <div class="row">
                    <div class="col-6 title-section">
                        <h2 class="heading">Portfólio</h2>
                    </div>
                    <div class="col-6 text-right">
                        
                        <div class="custom-nav">
                            <a href="#" class="js-custom-prev-v2 swiper-button-next "><span class="icon-keyboard_arrow_left"></span></a>
                            <span></span>
                            <a href="#" class="js-custom-next-v2 swiper-button-prev "><span class="icon-keyboard_arrow_right"></span></a>
                       

                <div class="swiper-2">
                    <div class="swiper-button-next "></div>
                    <div class="swiper-button-prev  "></div>
                  </div>
                       
                        </div>
                    </div>
                </div>


                <div class="swiper-wrapper pl-4 px-4">
        
                    <div class="swiper-slide pt-1 pb-1 swiper-font ">
                        <a>
                          <div class="fruite-img">
                            <img  class="img-fluid tamanho-img rounded-top" alt="">
                          </div>
                        </a>
                        <a class="d-flex m-2 py-2 bg-light rounded-pill">
                          <span class="text-dark pl-1 px-1 lt-12">Slider funcionando</span>
                        </a>
                      </div>
                      <div class="swiper-slide pt-1 pb-1 swiper-font ">
                        <a>
                          <div class="fruite-img">
                            <img  class="img-fluid tamanho-img rounded-top" alt="">
                          </div>
                        </a>
                        <a class="d-flex m-2 py-2 bg-light rounded-pill">
                          <span class="text-dark pl-1 px-1 lt-12">Slider funcionando</span>
                        </a>
                      </div>
                      <div class="swiper-slide pt-1 pb-1 swiper-font ">
                        <a>
                          <div class="fruite-img">
                            <img  class="img-fluid tamanho-img rounded-top" alt="">
                          </div>
                        </a>
                        <a class="d-flex m-2 py-2 bg-light rounded-pill">
                          <span class="text-dark pl-1 px-1 lt-12">Slider funcionando</span>
                        </a>
                      </div>
                      <div class="swiper-slide pt-1 pb-1 swiper-font ">
                        <a>
                          <div class="fruite-img">
                            <img  class="img-fluid tamanho-img rounded-top" alt="">
                          </div>
                        </a>
                        <a class="d-flex m-2 py-2 bg-light rounded-pill">
                          <span class="text-dark pl-1 px-1 lt-12">Slider funcionando</span>
                        </a>
                      </div>
                      <div class="swiper-slide pt-1 pb-1 swiper-font ">
                        <a>
                          <div class="fruite-img">
                            <img  class="img-fluid tamanho-img rounded-top" alt="">
                          </div>
                        </a>
                        <a class="d-flex m-2 py-2 bg-light rounded-pill">
                          <span class="text-dark pl-1 px-1 lt-12">Slider funcionando</span>
                        </a>
                      </div>
                      <div class="swiper-slide pt-1 pb-1 swiper-font ">
                        <a>
                          <div class="fruite-img">
                            <img  class="img-fluid tamanho-img rounded-top" alt="">
                          </div>
                        </a>
                        <a class="d-flex m-2 py-2 bg-light rounded-pill">
                          <span class="text-dark pl-1 px-1 lt-12">Slider funcionando</span>
                        </a>
                      </div>
                      <div class="swiper-slide pt-1 pb-1 swiper-font ">
                        <a>
                          <div class="fruite-img">
                            <img  class="img-fluid tamanho-img rounded-top" alt="">
                          </div>
                        </a>
                        <a class="d-flex m-2 py-2 bg-light rounded-pill">
                          <span class="text-dark pl-1 px-1 lt-12">Slider funcionando</span>
                        </a>
                      </div>
        
        
                </div>
        
             
              </div>
 

        </div>
    </div>

    <div class="container site-section">
        <div class="row">
            <div class="col-12 title-section">
                <h2 class="heading">Saiba mais sobre os nossos serviços.</h2>
            </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="custom-media d-flex">
                    <div class="img mr-4">
                        <img src="./assets/images/img_1.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="text"> 
                        <h3 class="mb-4"><a href="#">Elilo Motor</a></h3>
                        <p>Serve para enviar encomendas da shop.eliloapp ate a sua casa</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="custom-media d-flex">
                    <div class="img mr-4">
                        <img src="./assets/images/img_3.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="text"> 
                        <h3 class="mb-4"><a href="#">MarketPlace</a></h3>
                        <p>Eliloapp é uma app web! Somos um mercado online onde se concentram os melhores produtos de diversos segmentos.</p>
                       </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="custom-media d-flex">
                    <div class="img mr-4">
                        <img src="./assets/images/img_3.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="text"> 
                        <h3 class="mb-4"><a href="#">Variedade de produtos</a></h3>
                        <p>Todos os seus produtos essenciais num só lugar, aproveite.</p>
                       </div>
                </div>
            </div>
        </div>
    </div>



    
    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <form action="#">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="form-group">
                  <textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Write something..."></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary py-3 px-5" value="Enviar Mensagem">
                </div>
              </form>  
            </div>
            <div class="col-lg-4 ml-auto">
              
              <ul class="list-unstyled">
                <li class="mb-2">
                  <strong class="text-white d-block">Endereço</strong>
                  Talatona mundo verde. <br> apartamento, NY 10011
                </li>
                <li class="mb-2">
                  <strong class="text-white d-block">Email</strong>
                  <a href="#">info@eliloapp.com</a>
                </li>
                <li class="mb-2">
                  <strong class="text-white d-block">
                    Telefone
                  </strong>
                  <a href="#">+244 946-222-222</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  


</div>