<div>
  <div class="col-xl-12 col-12 mobile_perfil">
    <div class="d-flex p-2" style="background-color: rgb(29, 9, 66); width: 100%;">
      <div class="p-2 flex-fill">
        <a class="rounded-pill text-white" href="#/loja/encomenda" style="align-items: center; display: flex; ">
          <i class="bi bi-arrow-bar-left px-2"></i>
          Voltar </a>
      </div>
      <div class="p-2 flex-fill">
        <h4 class="text-white">Meu Perfil</h4>
      </div>
    </div>
  </div>
  <section class=" p-2 perfil">
    <div class="container">
      <div class="row">


        <div class="col-xl-2 col-2 desktop_perfil">
          <c-submenu></c-submenu>
        </div> 

        <div class="col-xl-10 col-12">
          <div class="col-lg-12 text-end">
            <ul class="nav nav-pills d-inline-flex text-center  ">
              <li class="nav-item">
                <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" @click="perfil = true">
                  <span class="text-dark" style="width: 145px;">Perfil</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill"  @click="perfil = false">
                  <span class="text-dark" style="width: 145px;">Endereço</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            
              <div class="body-perfil">

                <div class="box">
                  <div class="perfil-box">
                    <h2>Criar Conta</h2>
                    <img src="img-formulario.png">
                  </div>
                  <div class="formperfil-box">
                    <form>
                      <div id="tab-1" class="" v-if="perfil">
                      <div class="input-group">
                        <label for="nome"> Nome Completo</label>
                        <input type="text" id="nome" placeholder="Digite o seu nome completo" v-model="usuario"
                          required>
                      </div>

                      <div class="input-group">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" placeholder="Digite o seu email" v-model="email" required>
                      </div>


                      <div class="input-group w50">
                        <label for="telefone">Telefone 1</label>
                        <input type="tel" id="telefone" placeholder="Digite o seu telefone" v-model="telefone1"
                          required>

                      </div>

                      <div class="input-group w50">
                        <label for="telefone2">Telefone 2</label>
                        <input type="tel" id="telefone2" placeholder="Digite o seu telefone2" v-model="telefone2"
                          required>
                      </div>
                    </div>

                    <div id="tab-2" class="" v-else>

                      <div class="input-group w50">
                        <label for="provincia">Provincia</label>
                        <input type="text" id="provincia" placeholder="Digite o seu provincia" v-model="provincia"
                          required> 
                      </div>

                      <div class="input-group w50">
                        <label for="municipio">Municipio</label>
                        <input type="text" id="municipio" placeholder="Digite o seu municipio" v-model="municipio"
                          required>
                      </div>

                      <div class="input-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" placeholder="Digite o nome do seu bairro" v-model="bairro"
                          required>
                      </div>

                      <div class="input-group">
                        <label for="rua">Rua</label>
                        <input type="text" id="rua" placeholder="Digite o  nome da sua rua completo" v-model="rua"
                          required>
                      </div>

                    </div>
                      <div class="input-group">
                        <button @click="cadusers()">Cadastrar</button>
                      </div>

                    </form>
                  </div>
                </div>

              </div>
             

            


          </div>



        </div>

      </div>
    </div>
  </section> <!-- .section -->
</div>

<!-- fim  Modal do carinho -->