<div class="pd-t">

    <!-- Contact Start -->
    <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="text-center mx-auto" style="max-width: 900px;">
                            <h1 class="text-primary">Política de privacidade da Elilo</h1>
                            <a>Última atualização</a>
                            <p class="mb-4">
                                Esta Política de Privacidade descreve Nossas políticas e procedimentos sobre a coleta,
                                uso e divulgação de Suas informações quando Você usa o Serviço e informa sobre Seus
                                direitos de privacidade e como a lei protege Você.. .</p>

                            <p> Usamos Seus dados pessoais para fornecer e melhorar o Serviço. Ao utilizar o Serviço,
                                você concorda com a coleta e uso de informações de acordo com esta Política de
                                Privacidade.</p>



                            <h5 class="text-primary">Para Efeito desta Política de privacidade</h5>
                            <a>Definições</a>
                            <p class="mb-4">

                            </p>

                            <p>

                            </p>







                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


</div>