<!-- Service Start -->
<div class="container-fluid py-5 px-4 px-lg-0">
    <div class="row g-0">
        
        <div class="col-md-12 col-lg-12">
            <div >
                <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
                    <h1 class="mb-5">Explore nossos planos</h1>
                </div>


                <div class="radio ">
                    
                    <input @click="Xsite" class="radio__input" type="radio" value="option1" name="myRadio" id="myRadio1" checked>
                    <label class="radio__label" for="myRadio1">Criação de Websites</label>

                    <input  @click="Xhospeda" class="radio__input" type="radio" value="option2" name="myRadio" id="myRadio2">
                    <label class="radio__label" for="myRadio2">Hospedagem de Sites</label>

                    <input @click="Xdominio" class="radio__input" type="radio" value="option3" name="myRadio" id="myRadio3">
                    <label class="radio__label" for="myRadio3">Registo de Domínio</label>
                </div>

                <div v-if="type === 'A'">
                    <c-planos_site></c-planos_site>
                </div>
                <div v-else-if="type === 'B'">
                    <c-planos_hosp></c-planos_hosp>
                </div>
                <div v-else-if="type === 'C'">
                    <c-planos_domin></c-planos_domin>
                </div>
                <div v-else>
                    Não  A/B/C
                </div>


            </div>
        </div>
    </div>
</div>
    <!-- Service End -->