<div class="menu_principal">
    <!-- Spinner Start
     <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    fas fa-user fa-2x 
    -->

    <div class="container-fluid fixed-top " style="border: 1px solid #dee2e6;
    border-radius: 10px; box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25); background-color: rgb(29, 9, 66);">

        <div class="container px-0 ">
            <nav class="navbar navbar-light  navbar-expand-xl">
                <div class="d-flex m-3 me-0 ">

                    <button class="navbar-toggler  bg-white me-4 menu-btn" type="button">
                        <i class="fa fa-bars text-primary"></i></button>


                    <!--  <a class="navbar-toggler" type="button" href="#/"><i class="fa fa-home fa-2x text-danger"></i></a>  -->



                    <a href="#" class="position-relative me-4 my-auto">
                        <h1> elilo </h1>
                    </a>
                    <div class="d-flex position-absolute" style=" right: 0px; ">

                        <!--  Abrir menu  -->
                        <header>
                            <nav>
                                <div class="side-bar  ">
                                    <div class="close-btn">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="menu">
                                        <div class="item"><a href="/#"><i
                                                    class="fa fa-solid fa-2x fa-home"></i>Admin</a></div>
                                        <div v-if="user_token">
                                            <div class="item"><a href="#/perfil"><i
                                                        class="fa fa-solid fa-2x fa-user"></i>O meu perfil</a></div>
                                            <div class="item"><a href="index.html"><i
                                                        class="fa fa-solid fa-2x fa-heart"></i>Meus favoritos</a></div>
                                            <div class="item"><a href="#/loja/encomenda"><i
                                                        class="fa fa-solid fa-2x fa-truck"></i>As minhas encomendas</a>
                                            </div>
                                            <div class="item"><a @click="logout()"><i
                                                        class="fa fa-solid fa-2x fa-sign-out-alt"></i>Terminar
                                                    sessão</a></div>
                                        </div>

                                        <div v-else>
                                            <div class="item"><a href="#/login"><i
                                                        class="fa fa-solid fa-2x fa-sign-out-alt"></i>Iniciar sessão</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </nav>
                        </header>

                        <!-- fim  Abrir menu  -->

                        <!-- Modal do carinho  fa fa-minus -->

                        <header>
                            <nav>
                                <div class="side-carinho ">
                                    <div class="close-carinho text-dark">
                                        <i class="fas fa-times"></i>
                                    </div>

                                    <div class="hearde-carinho">

                                        <h5>cesto</h5>
                                    </div>

                                    <div class="menu p-3">

                                        <div v-if="carrinhoVerif">
                                            <div class="table-responsive pt-5">
                                                <hr>
                                                <table class="table">
                                                    <tbody>
                                                        <tr v-for="(cat, index) in carinhoLista" :key="index">
                                                            <th scope="row">
                                                                <div class="d-flex align-items-center">
                                                                    <img :src="img+cat.image"
                                                                        class="img-fluid me-5 rounded-circle"
                                                                        style="width: 50px; height: 50px;" alt="">
                                                                </div>
                                                            </th>
                                                            <td class="carinho-item">
                                                                <p class="mb-0">{{ cat.nome
                                                                    }}</p>
                                                                <div class="d-flex">
                                                                    <h6 class="fw-bold text-decoration-line-through">
                                                                        {{ cat.preco }} kz</h6>

                                                                    <div class="px-2">
                                                                        <h6> X{{cat.qtdd }}</h6>
                                                                    </div>


                                                                    <h6 class="text-danger ">{{
                                                                        cat.totalPreco }} kz</h6>
                                                                </div>


                                                            </td>


                                                            <td>
                                                                <button class="btn btn-md  text-center "
                                                                    @click="removeCat(index)">
                                                                    <i class="fa fa-times text-danger"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>



                                            <div class="rodape">


                                                <div class="wrap">
                                                    <a class="button" href="#/loja/checkout">checkout</a>

                                                    <div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute"
                                                        style="width: 100px; height: 100px; top: -20px; left: -50px;">
                                                        <div class="d-flex flex-column">
                                                            <span class="h4 mb-0">{{ totalCat }}</span>
                                                            <span class="h5 text-muted mb-0">.00AOA</span>
                                                        </div>
                                                    </div>

                                                </div> 
                                            </div>
                                        </div>

                                        <div v-else>
                                            <h5 style="
                                                height: 90vh; align-items: center;
                                                display: flex; flex-direction: row; justify-content: center; 

                                                ">Carrinho esta vazio</h5>
                                        </div>
                                    </div>
                                </div>

                            </nav>
                        </header>

                        <!-- fim  Modal do carinho -->







                        <button
                            class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                            data-bs-toggle="modal" data-bs-target="#searchModal"><i
                                class="fas fa-search text-primary"></i></button>

                        <div v-show="user_token">



                            <a class="position-relative me-4 my-auto carinho-btn" @click="carinhos()">
                                <i class="fa fa-shopping-bag fa-2x"></i>
                                <span
                                    class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                                    style="top: -5px; left: 15px; height: 20px; min-width: 20px;">
                                    {{ qtddCart }}
                            </a>

                            <a href="#/perfil" class="my-auto" data-bs-toggle="dropdown">
                                <i class="fas fa-user fa-2x"></i>
                            </a>
                        </div>

                        <div v-show="!user_token">
                            <a class="btn border border-secondary rounded-pill text-text" href="#/login"
                                style="width: 100%; height: 100%; align-items: center; display: flex; ">
                                <i class="me-2 fa fa-sign-in-alt "></i>
                                logar</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Modal Search Start -->
    <div class="modal fade bg-white" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header" style="background-color: rgb(29, 9, 66);">
                    <h5 class="modal-title" id="exampleModalLabel">elilo</h5>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="Buscar Produto Nome ou E-mail"
                                aria-describedby="search-icon-1" v-model="search">
                            <span id="search-icon-1" class="input-group-text "><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>


                <!-- Fruits Shop Start-->
                <div class="fruite  ">
                    <div class="container pt-5">
                        <div class="tab-class text-center">

                            <div class="tab-content">
                                <div class="row  text-center">

                                    <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-1"
                                        v-for="(cat, index)  in filteredProduto" :key="cat.id">
                                        <div class="rounded position-relative fruite-item"
                                            style="box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);">
                                            <a @click="visualizar(cat.id)">
                                                <div class="fruite-img">
                                                    <img :src="img+cat.img" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                            </a>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 5px; left: 5px; font-size: 12px;">
                                                {{ cat.categoria }}</div>
                                            <div class="p-2 border border-secondary border-top-0 rounded-bottom ">
                                                <p style="font-size: 12px; height: 20px;"> {{ cat.nome }}</p>
                                                <p class="text-dark fs-6 fw-bold mb-0">{{ cat.preco }} AOA </p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">

                                                    <div class="row ">
                                                        <div class="col-md-6 col-lg-6 col-xl-2 col-2 px-2">

                                                            <div class="btn-group-vertical">
                                                                <button
                                                                    class="btn btn-sm btn-plus rounded-circle bg-light border"
                                                                    @click="cat.quantidade++">
                                                                    <i class="fa fa-plus"></i>
                                                                </button>
                                                                <button
                                                                    class="btn btn-sm btn-minus rounded-circle bg-light border"
                                                                    @click="cat.quantidade ? cat.quantidade-- : false">
                                                                    <i class="fa fa-minus"></i>
                                                                </button>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 col-lg-2 col-xl-10 col-10">
                                                            <input type="text" class="form-control text-center border-0"
                                                                style="height: 21px;" v-model="cat.quantidade">
                                                            <a class="btn border border-secondary rounded-pill px-3 text-primary"
                                                                @click="addCat(index)" style="width: 100%;"><i
                                                                    class="fa fa-shopping-bag me-2 text-primary"></i>
                                                                ADD</a>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fruits Shop End-->


            </div>
        </div>
    </div>
    <!-- Modal Search End -->


</div>
<!-- Navbar End -->