<div class="py-4">
 
<nav class="navbar12 ">
    <ul class="navbar12__menu ">
      <li class="navbar12__item">
        <a href="#/" class="navbar12__link fa_icon">
          <i class="fa fa-solid fa-home fa-2x fa_icon-color"></i><span>Loja</span></a>
      </li>
      <li class="navbar12__item">
        <a href="#/perfil" class="navbar12__link fa_icon"><i
            class="fa fa-solid fa_icon-color fa-user fa-2x "></i><span>Perfil</span></a>
      </li>
      <li class="navbar12__item">
        <a href="#" class="navbar12__link fa_icon"><i
            class="fa fa-solid fa_icon-color fa-heart fa-2x "></i><span>Meus
            Favoritos</span></a>
      </li>
      <li class="navbar12__item">
        <a href="#/loja/encomenda" class="navbar12__link fa_icon"><i
            class="fa fa-solid fa_icon-color fa-truck fa-2x "></i><span>Minhas
            encomendas</span></a>
      </li>
      <li class="navbar12__item">
        <a @click="logout()" class="navbar12__link fa_icon"><i
            class="fa fa-solid fa_icon-color fa-sign-out-alt fa-2x "></i><span>Terminar sessão</span></a>
      </li>
          
    </ul>
  </nav>   
</div>