
<div class="container-kk fadeInUp py-3" data-wow-delay="0.1s">
   <div class="overlay2 "></div>
   <div class="text12 container">

     <div class="row justify-content-center ">
       <div class="col-lg-12">
         <div class="text-center ">
           <form>
             <p style="padding: 0px;">
               Escolha o nome perfeito para o seu negocio e garanta a visibilidade e posicionamentos nos motores de
               busca da Google!
             </p>
             <div class="row">
               <div class="col-12 col-sm-2">
                 <h1 class="mb-4">Dominio</h1>
               </div>
               <div class="col-8 col-sm-6">
                 <input type="text" class="form-control border-0" placeholder="nome" style="height: 55px;">
               </div>
               <div class="col-4 col-sm-4">
                 <button class="btn btn-primary w-100 py-3" type="submit">Pesquisar</button>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>

 </div>