<div id="content">
  <!-- dashboard inner -->
  <div class="midde_cont">
    <div class="container-fluid">


      <div class="row column_title">
        <div class="col-md-12">
          <div class="page_title">
            <h2>Cadastro</h2>
          </div>
        </div>
      </div>


      <div class="row column3">
        <!-- progress bar -->
        <div class="col-md-12">
          <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
              <div class="heading1 margin_0">
                <h2>Cadastro Produtos </h2>
              </div>
            </div>
            <div class="full progress_bar_inner">
              <div class="login_form">
                <form>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-6 col-12 margin_bottom_30">
                        <div class="field">
                          <label class="label_field">Produto</label>
                          <input type="text" name="produto" placeholder="Nome Produto" />
                        </div>
                        <div class="field">
                          <label class="label_field">Imagem</label>
                          <input type="file" name="imagem" placeholder="imagem" />
                        </div>
                        <div class="field">
                          <label class="label_field">Preço</label>
                          <input type="text" name="preco" placeholder="Preço Atual do Produto" />
                        </div>
                      </div>
                      <div class="col-md-6 col-12 margin_bottom_30">
                        <div class="field">
                          <label class="label_field">Categoria</label>
                          <input type="text" name="Estoque" list="datalistOptions" id="exampleDataList" placeholder="Buscar Categoria..."/>
                          <datalist id="datalistOptions">
                            <option value="San Francisco">
                            <option value="New York">
                            <option value="Seattle">
                            <option value="Los Angeles">
                            <option value="Chicago">
                          </datalist>
                        </div>

 
                        <div class="field">
                          <label class="label_field">Estoque</label>
                          <input type="text" name="Estoque" placeholder="Estoque Atual" />
                        </div>
                        <div class="field">
                          <label class="label_field">Descrição</label>
                          <input type="text" name="descricao" placeholder="Adicionar a Descrição do item" />
                        </div>                   
                      </div>

                      <div class="col-md-12 col-12">
                        <div class="field margin_10">
                          <button class="main_bt">Salvar Novo</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>
                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- end progress bar -->
      </div>

    </div>
    <!-- footer -->
    <div class="container-fluid">
      <div class="footer">
        <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
          Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
        </p>
      </div>
    </div>
  </div>
  <!-- end dashboard inner -->
</div>