<div id="content">
  <!-- dashboard inner -->
  <div class="midde_cont">
    <div class="container-fluid">


      <div class="row column_title">
        <div class="col-md-12">
          <div class="page_title">
            <h2>Cadastro</h2>
          </div>
        </div>
      </div>


      <div class="row column3">
        <!-- progress bar -->
        <div class="col-md-12">
          <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
              <div class="heading1 margin_0">
                <h2>Cadastro Produtos </h2>
              </div>
            </div>
            <div class="full progress_bar_inner">
              <div class="login_form">
                <form enctype="multipart/form-data" action="javascript:void(0)" @submit.prevent="sendFile">
                  <fieldset>
                    <div class="row">
                      <div class="col-md-6 col-12 margin_bottom_30">
                        <div class="field padding_bottom_50">
                          <label class="label_field">Produto</label>
                          <input type="text" name="produto" placeholder="Nome Produto" v-model="nome" />
                        </div>

                        <div class="field padding_bottom_50">
                          
                          <label class="label_field">Imagem</label>
                          <input type="file" id="file_img" accept="image/*" class="imput_img form-control" name="imagem" 
                          ref="img" v-on:change="updatePreview">
                         <label for="file_img" class="label_img form-control">
                            <i>
                              <img class="image-img" :src="imagemVer" accept="image/*"
                                  style="width:32px; height:32px;">
                            </i> {{ textImagem }} 
                          </label>
                        </div>
  

                        <div class="field padding_bottom_50">
                          <label class="label_field">Preço</label>
                          <input type="text" name="preco" placeholder="Preço Atual do Produto" v-model="preco" />
                        </div>
                      </div>
                      <div class="col-md-6 col-12 margin_bottom_30">
                       
                        <div class="field padding_bottom_50 ">
                          <label class="label_field">Categoria</label>
                          <select class="form-select imput" v-model="categoria" placeholder="Buscar Categoria..." 
                         required @change="escolher(event.target.value)">
                            <option disabled value="">Selecione</option>
                            <option v-for="(cat, index) in todos_categoria" :value="cat.id">
                              {{ cat.nome }}
                            </option>
                          </select>

                        </div>

                        <div class="field padding_bottom_50 ">
                          <label class="label_field">SubCategoria</label>
                          <select class="form-select imput" v-model="subcategoria_id" placeholder="Buscar SubCategoria..."
                          required>
                            <option disabled value="">Selecione</option>
                            <option v-for="(option, index) in filteredSubCategoria" :value="option.id">
                              {{ option.nome }}
                            </option>
                          </select>

                        </div>


                        <div class="field padding_bottom_50 ">
                          <label class="label_field">Estoque</label>
                          <input type="text" name="Estoque" placeholder="Estoque Atual" v-model="quantidade" />
                        </div>
                        <div class="field padding_bottom_50 ">
                          <label class="label_field">Descrição</label>
                          <input type="text" name="descricao" placeholder="Adicionar a Descrição do item"
                            v-model="descricao" />
                        </div>
                      </div>

                      <div class="col-md-12 col-12">
                        <div class="field margin_10">
                          <button class="main_bt">Salvar Novo</button>
                        </div>
                      </div>

                    </div>
                  </fieldset>
                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- end progress bar -->
      </div>

    </div>
       <!-- footer -->
       <div class="container-fluid">
        <div class="footer">
          <p>Copyright © 2024 Shop Elilo. Todos os direitos reservados.<br><br>
            Desenvonvido por: <a href="https://jlsystem.ao/">JLSystem </a>
          </p>
        </div>
      </div>
  </div>
  <!-- end dashboard inner -->
</div>