<!-- Service Start -->
<div class="swiper slide-website">
<div class="swiper-wrapper ">

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_bronze.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>57.000.00kz</h2>
        <p>Inclui:</p>
  
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 4(ver paginas) 
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Slide Show Dinâmico até 2 .
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
         <a href="https://wa.me/244952472527"href="" class="btn bg-white text-primary w-100 mt-2">Conversar WhatsApp<i
                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_prata.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>80.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 6(ver paginas)
        </p>
          
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Slide Show Dinâmico até 5.
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
         <a href="https://wa.me/244952472527"href="" class="btn bg-white text-primary w-100 mt-2">Conversar WhatsApp<i
                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_ouro.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>125.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 9 (ver paginas)
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 5 Subpáginas
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Vídeo & Slide Show Dinâmico até 12.
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Notícia
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Newsletter Formulário
        </p>

          <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Chat de whatsapp
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
         <a href="https://wa.me/244952472527"href="" class="btn bg-white text-primary w-100 mt-2">Conversar WhatsApp<i
                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_platina.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>190.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 12(ver paginas)
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 9 Subpáginas
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Vídeo & Slide Show Dinâmico até 25.
        </p>
 
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Login | Registo
        </p> 
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Notícia e Publicidades
        </p>
      
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Newsletter Formulário
        </p>

          <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Chat de atendimento
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
         <a href="https://wa.me/244952472527"href="" class="btn bg-white text-primary w-100 mt-2">Conversar WhatsApp<i
                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_diamante.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>300.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 15(ver paginas)
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Até 11 Subpáginas
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Vídeo & Slide Show Dinâmico Ilimitado.
        </p>  
     
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Painel de gestão de Conteúdo
        </p> 


        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Login | Registo
        </p> 
  
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Notícia, Área de Publicidades e Comentario
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Newsletter Formulário
        </p>

          <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Chat de atendimento
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            2 Formulário Personalizado + Mapa
        </p>
         <a href="https://wa.me/244952472527"href="" class="btn bg-white text-primary w-100 mt-2">Conversar WhatsApp<i
                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>
</div>

<div class="swiper-button-next swiper-navBtn"></div>
<div class="swiper-button-prev swiper-navBtn"></div>
<div class="swiper-pagination"></div>
 
</div>
    <!-- Service End -->