<div class="pd-t">
 
    <!-- Fruits Shop Start-->
    <div class="fruite  ">
        <div class="container pt-5">
            <div class="tab-class text-center">

                <div class="tab-content">
                    <div class="row ">

                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/frutas.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>FRUTAS & LEGUMES</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/arroz.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>ARROZ & MASSA</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/alcol.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>ÁLCOOL</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/bebida.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>BEBIDAS</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/casa.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>CASA</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/laticinio.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>LACTICÍNIOS E OVOS</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/padaria.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>PADARIA</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/saudavel.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>SAUDÁVEL</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/pastelaria.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>PASTELARIA & DOÇARIA</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/molhos.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>MOLHOS & CONDIMENTOS</h6>
                                </div>
                            </div>
                        </div>






                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/latas.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>LATAS E FRASCOS</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/higiene.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>HIGIENE PESSOAL</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/congelado.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>CONGELADOS</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/bebe.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>BEBÉ</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/eletrodomestico.png"
                                        class="img-fluid w-100 rounded-top" alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>ELETRODOMÉSTICOS</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 col-6">
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="./assets/img/produtos/eletronica.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h6>ELECTRÓNICA</h6>
                                </div>
                            </div>
                        </div>




                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->


</div>