<div >
  <section class=" ">
    <div class="container">
      <div class="row">

        <div class="col-xl-1 col-2  ">

          <aside class="sidebars">
            <div class="sidebars-header">
              <img src="" alt="" srcset="">
              <h2>Elilo</h2>
            </div>

            <ul class="sidebars-links">
              <li class=""><a href="#/">
                  <i class="fa fa-solid fa-lg text-danger fa-home my-3 me-2"></i> <span>Página
                    principal</span> </a></li>
              <li class=""><a href="">
                  <i class="fa fa-solid fa-lg text-danger fa-heart my-3 me-2"></i> <span>Os meus
                    favoritos</span> </a></li>
              <li class=""><a href="">
                  <i class="fa fa-solid fa-lg text-danger fa-user my-3 me-2"></i> <span>O meu
                    perfil</span> </a></li>
              <li class=""><a href="">
                  <i class="fa fa-solid fa-lg text-danger fa-truck my-3 me-2"></i> <span>As minhas
                    encomendas</span> </a></li>
              <li class="" style="cursor: pointer;"><a>
                  <i class="fa fa-solid fa-lg text-danger fa-sign-out-alt my-3 me-2"></i> <span>Terminar
                    sessão</span> </a></li>
            </ul>
          </aside>

        </div>

        <div class="col-xl-11 col-10">
          <div class="row ">
            <div class="col-xl-7 col-12" >

              <h2 class="text-primary">Endereço de Entrega</h2>


              <div class="p-4 rounded bg-light">
                endereco

              </div>

              <hr>

              <!-- Fruits Shop Start-->
              <div class=" fruite">
                <div class="tab-class">

                  <div class="row ">
                    <div class="col-lg-4 ">
                      <p>Gorjeta para o motorista</p>
                    </div>

                    <div class="col-lg-8 text-end">
                      <ul class="nav nav-pills d-inline-flex text-center mb-2">
                        <li class="nav-item">
                          <a class="d-flex py-1 m-1 bg-light rounded-pill active">
                            <span class="text-dark" style="padding: 0 15px;">
                              <label><input type="radio" name="optradio" class="" value="500" v-model="gorjeta">&nbsp;
                                500 AOA</label></span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="d-flex py-1 m-1 bg-light rounded-pill active">
                            <span class="text-dark" style="padding: 0 15px;">
                              <label><input type="radio" name="optradio" class="" value="1000" v-model="gorjeta">&nbsp;
                                1000 AOA</label>
                            </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="d-flex py-1 m-1 bg-light rounded-pill active">
                            <span class="text-dark" style="padding: 0 15px;">
                              <label><input type="radio" name="optradio" class="" value="1500" v-model="gorjeta">&nbsp;
                                1500 AOA</label>
                            </span>
                          </a>
                        </li>

                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <!-- Fruits Shop End-->
              <hr>

              <div>
                <div class="col-lg-4 ">
                  <p>Métodos de pagamento</p>
                </div>
                <div class="containeradio">

                  <div class="radio-tile-group">

                    <div class="input-container">
                      <input id="walk" type="radio" name="radio" value="Cash ( Pagamento na entrega )"
                        v-model="tipo_pagamento">
                      <div class="radio-tile">
                        <i class="tm-icon bi bi-cash-stack"></i>
                        <label for="walk"> Cash </label>
                        <span style="font-size: 10px; text-align: center; color: #fff">Pagamento na entrega</span>
                      </div>
                    </div>

                    <div class="input-container">
                      <input id="bike" type="radio" name="radio" value="TPA ( Pagamento na entrega )"
                        v-model="tipo_pagamento">
                      <div class="radio-tile">
                        <i class="tm-icon bi bi-credit-card-fill"></i>
                        <label for="bike">TPA</label>
                        <span style="font-size: 10px; text-align: center; color: #fff;">Pagamento na entrega</span>
                      </div>
                    </div>

                    <div class="input-container">
                      <input id="car" type="radio" name="radio" value="MULTICAIXA Express" v-model="tipo_pagamento">
                      <div class="radio-tile">
                        <i class="tm-icon bi bi-phone-fill"></i>
                        <label for="car" style="font-size: 10px; text-align: center;">MULTICAIXA Express</label>
                      </div>
                    </div>

                    <div class="input-container">
                      <input id="fly" type="radio" name="radio" value="Cartões Internacionais" v-model="tipo_pagamento">
                      <div class="radio-tile">
                        <i class="tm-icon bi bi-wallet"></i>
                        <label for="fly" style="font-size: 10px; text-align: center;">Cartões Internacionais</label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <hr>

              <div class="row g-4 mb-4">
                <div class="col-lg-4 ">
                  <p>Adicionar Cupom</p>
                </div>

                <div class="col-lg-8 ">
                  <p>
                    Digita o seu codigo de cupom abaixo.
                  </p>
                  <div class="position-relative mx-auto">

                    <input class="form-control border-secondary w-100 py-3 px-4 rounded-pill"
                      style="border-color: brown;" type="text" placeholder="Insira o código do cupom">
                    <button type="submit"
                      class="btn btn-primary border-secondary py-3 px-4 position-absolute rounded-pill text-white"
                      style="top: 0; right: 0;">Aplicar cupom</button>
                  </div>
                </div>
              </div>

              <hr>

              <div class="rounded">
                <h2 class="text-primary">Instruçoes De Entrega</h2>

                <div class="col-lg-12">
                  <div class="border-bottom rounded my-4">
                    <textarea v-model="instrucoes" id="" class="form-control border-secondary " cols="30" rows="8"
                      placeholder="Adicionar informações adicionais aqui *" spellcheck="false"></textarea>
                  </div>

                </div>
              </div>
 



              <div class="cart-detail desktop">

                <div class="form-group pt-2">
                  <div class="checkbox">
                    <label style="color: brown;"><input type="checkbox" value="" class="mr-2"> Li e aceito os
                      termos
                      e condições</label>
                  </div>
                </div>

                <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 "
                  style="width: 100%;" type="button" @click="finalizarpedido()">Fazer um pedido</button>

              </div>


            </div>

            <div class="col-xl-5 col-12 resumo">
              <div class="row">
                <div class="mb-4">
                  <div class="cart-detail cart-total p-3 p-md-4">

                    <h3 class="billing-heading mb-4">Resumo Do Pedido</h3>

                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr v-for="(cat, index) in carinho" :key="index">
                            <th scope="row">
                              <div class="d-flex align-items-center">
                                <img :src="img+cat.image" class="img-fluid me-5 rounded-circle"
                                  style="width: 50px; height: 50px;" alt="">
                              </div>
                            </th>
                            <td>
                              <p class="mb-0 mt-4 centralizar" style="font-size: 11px; width: 150px;"> {{ cat.nome }}
                              </p>
                            </td>
                            <td class="fw-bold me-2 text-decoration-line-through " style="width: 100px;">
                              <p class="mb-0 mt-4" style="font-size: 9px"> {{ cat.preco }} AOA</p>
                            </td>
                            <td>
                              <div class="input-group quantity mt-4" style="font-size: 11px; width: 100px;">
                                {{ cat.qtdd }}
                              </div>
                            </td>
                            <td>
                              <p class="mb-0 mt-4 centralizar text-danger fw-bold"
                                style="font-size: 11px; width: 100px;"> {{ cat.totalPreco }} AOA</p>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                    <div class="container">

                      <div>
                        <div class="d-flex">
                          <span class="p-1 flex-fill"
                            style="font-size: 12px; text-transform: uppercase;">Subtotal</span>

                            <span class="p-1 flex-fill"></span>
                            <span class="p-1 flex-fill"> </span>

                          <span class="p-1 flex-fill" style="font-size: 12px;">AOA {{ totalCat }}</span>
                        </div>
                       
                        <div class="d-flex">
                          <span class="p-1 flex-fill" style="font-size: 12px; text-transform: uppercase;">Entrega</span>
                          <span class="p-1 flex-fill" style="font-size: 12px;">AOA 1.000.00</span>
                          <span class="p-1 flex-fill" style="font-size: 12px; text-transform: uppercase;">Gorjeta</span>
                          <span class="p-1 flex-fill" style="font-size: 12px;">AOA {{ gorjeta }}</span>
                    
                        </div>
                         
                        <div class="d-flex">
                          <span class="p-1 flex-fill" style="font-size: 12px; text-transform: uppercase;">Desconto</span>
                          <span class="p-1 flex-fill" style="font-size: 12px;">AOA 0.00</span>
                        </div>
                        <hr>
                        <div class="d-flex total-price">
                          <span class="p-1 flex-fill fw-bold" style="font-size: 12px; text-transform: uppercase;">Total</span>
                          <span class="p-1 flex-fill fw-bold" style="font-size: 12px;">AOA 17.60</span>
                        </div>

                        <hr>
                      </div>
                     
                      <div >
                        <div class="d-flex">
                          <span class="p-1 flex-fill"
                            style="font-size: 12px; text-transform: uppercase;">Cupom</span>
                          <span class="p-1 flex-fill" style="font-size: 12px;"></span>
                          <span class="p-1 flex-fill" style="font-size: 12px;">Não</span>
                          <span class="p-1 flex-fill" style="font-size: 12px;">AOA 0.00</span>
                        </div>
                        <hr>
                        <div class="d-flex">
                          <span class="p-1 flex-fill" style="font-size: 12px; text-transform: uppercase;">M. Pagamento</span>
                          <span class="p-1 flex-fill" style="font-size: 12px;">{{ tipo_pagamento }}</span>
                        </div>
                    
                     
                      </div>


                    </div>

                  </div>
                </div>
             
                <div class="cart-detail p-3 p-md-4 telefone">
                  <div class="form-group pt-2">
                    <div class="checkbox">
                      <label style="color: brown;"><input type="checkbox" value="" class="mr-2"> Li e aceito os
                        termos
                        e condições</label>
                    </div>
                  </div>
                  <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 "
                    style="width: 100%;" type="button" @click="finalizarpedido()">Fazer um pedido</button>

                </div>

              </div>
            </div>  
          </div>
        </div>

      </div>
    </div>
  </section> <!-- .section -->
</div>

<!-- fim  Modal do carinho -->