<div class=" ">

  <div class="pd-xl">
    <section class="ftco-section">
      <div class="container">
        <div class="row ">

          <div class="col-xl-1 col-3 pd-t">

            <aside class="sidebars">
              <div class="sidebars-header">
                <img src="" alt="" srcset="">
                <h2>Elilo</h2>
              </div>

              <ul class="sidebars-links">
                <li class=""><a href="#/">
                    <i class="fa fa-solid fa-2x text-danger fa-home my-3 me-2"></i> <span>Página
                      principal</span> </a></li>
                <li class=""><a href="">
                    <i class="fa fa-solid fa-2x text-danger fa-heart my-3 me-2"></i> <span>Os meus
                      favoritos</span> </a></li>
                <li class=""><a href="">
                    <i class="fa fa-solid fa-2x text-danger fa-user my-3 me-2"></i> <span>O meu
                      perfil</span> </a></li>
                <li class=""><a href="">
                    <i class="fa fa-solid fa-2x text-danger fa-truck my-3 me-2"></i> <span>As minhas
                      encomendas</span> </a></li>
                <li class="" style="cursor: pointer;"><a>
                    <i class="fa fa-solid fa-2x text-danger fa-sign-out-alt my-3 me-2"></i> <span>Terminar
                      sessão</span> </a></li>
              </ul>
            </aside>

          </div>

          <div class="col-xl-7 col-9 ftco-animate">

            <h2 class="text-primary">Endereço de Entrega</h2>
            <div class="row g-4 ">
              <div class="col-lg-6 ">
                <div class="p-4 rounded bg-light">
                  endereco
                </div>
              </div>

              <div class="col-lg-6 ">
                <div class="d-flex rounded mb-4 ">
                  <div class="btn form-control border-secondary py-3 bg-white text-primary m-1 ">
                    <h6>Entregar agora</h6>
                    <p class="mb-1">42 mins</p>
                  </div>

                  <div class="btn form-control border-secondary py-3 bg-white text-primary m-1">
                    <h6>Entregar Depois</h6>
                    <p class="mb-2">Adicionar dia</p>
                  </div>

                </div>
              </div>
            </div>




            <!-- Fruits Shop Start-->
            <div class="container-fluid fruite py-5">
              <div class="  py-5">
                <div class="tab-class text-center">
                  <div class="row g-4">

                    <div class="col-lg-12 text-end">
                      <ul class="nav nav-pills d-inline-flex text-center mb-2">
                        <li class="nav-item">
                          <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                            <span class="text-dark" style="width: 200px;">Dar uma Gorjeta</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                            <span class="text-dark" style="width: 200px;"><i
                                class="fa fa-cart-plus fa-2 text-primary me-4"></i>Resumo Do Pedido</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
                            <span class="text-dark" style="width: 200px;">Codigo Cupom</span>
                          </a>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                      <div class="row g-4">
                        <div class="col-lg-12">
                          <div class="row g-4">
                            <p>Todas as Gorjeta vão para os motoboys da Elilo</p>
                            <div class="nav nav-tabs">
                              <button class="nav-link border-white border-bottom-0 " type="button" role="tab"
                                id="nav-about-tab" data-bs-toggle="tab">
                                <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;
                                  500 AOA</label>
                              </button>
                              <button class="nav-link border-white border-bottom-0 " type="button" data-bs-toggle="tab">
                                <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;
                                  1000 AOA</label> </button>
                              <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                data-bs-toggle="tab">
                                <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;
                                  1500 AOA</label> </button>
                              </button>
                              <button class="nav-link border-white border-bottom-0" type="button" data-bs-toggle="tab">
                                <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;
                                  2000 AOA</label> </button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                      <h1>Carinho</h1>
                    </div>
                    <div id="tab-3" class="tab-pane fade show p-0">
                      <div class="row g-4">

                        <p>
                          Digita o seu codigo de cupom abaixo.
                        </p>
                        <div class="position-relative mx-auto">

                          <input class="form-control border-secondary w-100 py-3 px-4 rounded-pill"
                            style="border-color: brown;" type="text" placeholder="Insira o código do cupom">
                          <button type="submit"
                            class="btn btn-primary border-secondary py-3 px-4 position-absolute rounded-pill text-white"
                            style="top: 0; right: 0;">Aplicar cupom</button>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <!-- Fruits Shop End-->


            <div class="rounded">
              <h2 class="text-primary">Instruçoes De Entrega</h2>

              <div class="col-lg-12">
                <div class="border-bottom rounded my-4">
                  <textarea name="" id="" class="form-control border-secondary " cols="30" rows="8"
                    placeholder="Adicionar informações adicionais aqui *" spellcheck="false"></textarea>
                </div>

              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group mt-4">
                <div class="radio">
                  <label class="mr-3"><input type="radio" name="optradio">Enviar para o meu endereço</label>
                  <label><input type="radio" name="optradio">Enviar para endereço diferente</label>
                </div>
              </div>
            </div>

          </div>

          <div class="col-xl-4 col-8 ">
            <div class="row mt-5 pt-3">
              <div class="col-md-12 d-flex mb-4">
                <div class="cart-detail cart-total p-3 p-md-4">
                  <h3 class="billing-heading mb-4">Total do carrinho</h3>
                  <p class="d-flex">
                    <span>Subtotal</span>
                    <span>AOA {{ totalCat }}</span>
                  </p>
                  <p class="d-flex">
                    <span>Entrega</span>
                    <span>AOA 1.000.00</span>
                  </p>
                  <p class="d-flex">
                    <span>Desconto</span>
                    <span>AOA 0.00</span>
                  </p>
                  <hr>
                  <p class="d-flex total-price">
                    <span>Total</span>
                    <span>AOA 17.60</span>
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="cart-detail p-3 p-md-4">
                  <h3 class="billing-heading mb-4">Métodos de pagamento</h3>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;Pagamento na
                          entrega (Cash)</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;Pagamento na
                          entrega (TPA)</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp; MULTICAIXA
                          Express</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp; Cartões
                          Internacionais</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="checkbox">
                        <label style="color: brown;"><input type="checkbox" value="" class="mr-2"> Li e aceito os termos
                          e condições</label>
                      </div>
                    </div>
                  </div>
                  <p class="pt-3"><a href="#" class="btn btn-primary py-3 px-4">Fazer um pedido</a></p>
                </div>
              </div>
            </div>
          </div> <!-- .col-md-8 -->

        </div>
      </div>
    </section> <!-- .section -->
  </div>

</div>
<!-- fim  Modal do carinho -->