<div class=" ">

  <div class="pd-xl">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-3 pd-t">
            <div class="go_backxx">
              <div class="">
                <a href="#/" style="background-color: #d63384; width: 100%;"
                  class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">
                  <i class="fa fa-angle-left"> Voltar</i></a>
              </div>
              
            </div>


            <div class="offcanvas-body go_backxx">
              <ul class=" list-group-flush justify-content-end flex-grow-1">
          
                  <li class="list-group-item"><a href="#/">
                          <i class="fa fa-solid fa-2x text-danger fa-home my-3 me-2"></i> <span>Página
                              principal</span> </a></li> 
                      <li class="list-group-item"><a href="">
                              <i class="fa fa-solid fa-2x text-danger fa-heart my-3 me-2"></i> <span>Os meus
                                  favoritos</span> </a></li>
                      <li class="list-group-item"><a href="">
                              <i class="fa fa-solid fa-2x text-danger fa-user my-3 me-2"></i> <span>O meu
                                  perfil</span> </a></li>
                      <li class="list-group-item"><a href="">
                              <i class="fa fa-solid fa-2x text-danger fa-truck my-3 me-2"></i> <span>As minhas
                                  encomendas</span> </a></li>
                      <li class="list-group-item" style="cursor: pointer;"><a>
                              <i class="fa fa-solid fa-2x text-danger fa-sign-out-alt my-3 me-2"></i> <span>Terminar
                                  sessão</span> </a></li>
                  
          
                 
                      <li class="list-group-item" style="cursor: pointer;"><a>
                              <i class="fa fa-solid fa-2x text-danger fa-sign-in-alt my-3 me-2"></i> <span>Iniciar
                                  sessão</span> </a></li>
                  
          
              </ul>
          </div>



          </div>

          <div class="col-xl-5 ftco-animate">
            <form action="#" class="billing-form">
              <h3 class="mb-4 billing-heading">Detalhes de cobrança</h3>
              <div class="row align-items-end">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">Primeiro Nome</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastname">Ultimo Nome</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="w-100  pt-3"></div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="country">Cidade/Provincia</label>
                    <div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="" class="form-control">
                        <option value="">Luanda</option>
                        <option value="">Benguela</option>
                        <option value="">Malange</option>
                        <option value="">Uige</option>
                        <option value="">Huambo</option>
                        <option value="">Namibia</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="w-100  pt-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="streetaddress">Morada de entrega</label>
                    <input type="text" class="form-control" placeholder="Zona/Municipio">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Número da casa e nome da rua">
                  </div>
                </div>

                <div class="w-100  pt-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Telefone</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="emailaddress">Email</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="w-100  pt-3"></div>
                <div class="col-md-12">
                  <div class="form-group mt-4">
                    <div class="radio">
                      <label class="mr-3"><input type="radio" name="optradio">Enviar para o meu endereço</label>
                      <label><input type="radio" name="optradio">Enviar para endereço diferente</label>
                    </div>
                  </div>
                </div>
              </div>
            </form><!-- END -->
          </div>

          <div class="col-xl-4">
            <div class="row mt-5 pt-3">
              <div class="col-md-12 d-flex mb-4">
                <div class="cart-detail cart-total p-3 p-md-4">
                  <h3 class="billing-heading mb-4">Total do carrinho</h3>
                  <p class="d-flex">
                    <span>Subtotal</span>
                    <span>AOA {{ totalCat }}</span>
                  </p>
                  <p class="d-flex">
                    <span>Entrega</span>
                    <span>AOA 1.000.00</span>
                  </p>
                  <p class="d-flex">
                    <span>Desconto</span>
                    <span>AOA 0.00</span>
                  </p>
                  <hr>
                  <p class="d-flex total-price">
                    <span>Total</span>
                    <span>AOA 17.60</span>
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="cart-detail p-3 p-md-4">
                  <h3 class="billing-heading mb-4">Métodos de pagamento</h3>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;Pagamento na
                          entrega (Cash)</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp;Pagamento na
                          entrega (TPA)</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp; MULTICAIXA
                          Express</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="optradio" class="mr-2">&nbsp;&nbsp;&nbsp;&nbsp; Cartões
                          Internacionais</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pt-2">
                    <div class="col-md-12">
                      <div class="checkbox">
                        <label style="color: brown;"><input type="checkbox" value="" class="mr-2"> Li e aceito os termos
                          e condições</label>
                      </div>
                    </div>
                  </div>
                  <p class="pt-3"><a href="#" class="btn btn-primary py-3 px-4">Fazer um pedido</a></p>
                </div>
              </div>
            </div>
          </div> <!-- .col-md-8 -->

        </div>
      </div>
    </section> <!-- .section -->
  </div>

</div>
<!-- fim  Modal do carinho -->