<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-nos mb-5 py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Sobre nós</h6>
          <h1 class="display-5 text-white mb-3 animated slideInDown">soluções tecnológicas</h1>
          <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase">
              <li class="breadcrumb-item text-white"> Transmita seu profissionalismo aos leitores e fornecer as
                informações de que precisam para entrar em contato com você!</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6">

        </div>
      </div>


    </div>
  </div>
  <!-- Page Header End -->
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Sobre nós</h6>
          <h1 class="mb-4">Somos uma empresa de Ti</h1>
          <p class="mb-4">A JLSystem é uma empresa de serviços de TI e Marketing Digital criada para possibilitar que os
            clientes utilizem a tecnologia a favor de seus negócios, a empresa presta serviços e entrega soluções que
            proporcionam aos seus clientes desempenho e segurança.</p>
          <p>
            Somos uma empresa de criação de websites, hospedagens web, dominios, Mail, Identidade visual para empresas e
            marketing online,
            Hoje em dia, tudo está sendo realizado de forma digital. Por isso, é preciso que a sua marca esteja nesta
            plataforma também. Frequentemente, as empresas precisam ter um website devidamente estruturado.
            O site mostra sua visão de negócios. Um ditado bem conhecido é “uma primeira impressão é muito importante”.
            Em tecnologias web, ou no seu site, em primeira instância, essa interage com o visitante, por isso ou seu
            site deve expressar!
          </p>
          <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>`
            Soluções Tecnológicas para Empresas
          </p>
          <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Serviços de qualidade a preços
            acessíveis
          </p>
          <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Emergência imediata 24 horas
            por dia, 7 dias por semana
            Serviços</p>

            
      <div class="row g-5">
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="bg-primary d-flex align-items-center p-4 mt-5">
            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
              style="width: 60px; height: 60px;">
              <i class="fa fa-street-view fa-2x text-primary"></i>
            </div>
            <div class="ms-3">
              <h3 class="m-0 text-secondary">Missão</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="bg-primary d-flex align-items-center p-4 mt-5">
            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
              style="width: 60px; height: 60px;">
              <i class="fa fa-eye fa-2x text-primary"></i>
            </div>
            <div class="ms-3">
              <h3 class="m-0 text-secondary">Visão</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="bg-primary d-flex align-items-center p-4 mt-5">
            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
              style="width: 60px; height: 60px;">
              <i class="fa fa-handshake fa-2x text-primary"></i>
            </div>
            <div class="ms-3">
              <h3 class="m-0 text-secondary">Valores</h3>
            </div>
          </div>
        </div>
      </div>
        </div>


        <div class="col-lg-5" >
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid  " src="assets/img/about-1.png"
              style="object-fit: cover; padding: 0 0 0px 0px;" alt="">
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- About End -->
</div>