<div class="">
  <div class="body-escolha">

    <div class="box">
      <div class="img-box">
        <h2 class="text-white">SEM ACESSO ? </h2>
      </div>
      <div class="form-box">
        <h2>Acessar Conta</h2> 
        <p> Faz o Login para guardares os teus itens no carrinho ? <a href="#/login"> Acessar Sua Conta </a> </p>
       
        <br class="text-white"> 

        <h2>Criar Conta</h2>
        <p> Não tem uma Conta? <a href="#/cadastro"> Criar Conta </a> </p>
        
      </div>
    </div>

  </div>
</div>
 