<div class="">
  <div class="body-user">

    <div class="box">
      <div class="img-box">
        <img src="./assets/img/img-formulario.png" alt="astronalta" class="left-login-image">
      </div>
      <div class="form-box">
        <h2>Logar na Conta</h2>
        <p> Não tem uma Conta? <a href="#/cadastro"> Criar Conta </a> </p>
        <form action="#">

          <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="Digite o seu email" v-model="email" required>
          </div>

          <div class="input-group">
            <label for="senha">Senha</label>
            <input type="password" id="senha" placeholder="Digite sua senha" v-model="password" required>
          </div>


          <div class="input-group">
            <button @click="logar()">Acessar Conta</button>
          </div>
          <p>esquece a senha</p>
        </form>
      </div>
    </div>

  </div>
</div>