<div class="">
 
  <div class="main-main"> 
  
  
  <div class="mobile-menu-head" style="position: absolute; left: 0; top: 0;">
       <a href="#/" 
        class="banner-btn btn py-3 px-5 back-login">
        <i class="fa fa-angle-left"> Voltar</i></a>
    </div>
 

  
    <div class="main-login">
    <div class="left-login">
      <h1>Iniciar Sessão </h1> 
      <img src="./assets/img/shopping-animate.svg" alt="astronalta" class="left-login-image">
    </div>
    <div class="right-login">
      <div class="card-login">
        <h1>LOGIN</h1>
        <div class="textfield">
          <label for="usuario">Usuario</label>
          <input type="text" placeholder="usuario" name="usuario" v-model="email">
        </div>
        <div class="textfield">
          <label for="senha">Senha</label>
          <input type="password" placeholder="senha" name="senha" v-model="password">
        </div>
        <button class="btn-login" @click="logar()">Login</button>
      </div>
    </div>
  </div>
  </div>

  <div class="modal-backdrop fade show"></div>
</div>