<!-- Service Start -->
<div class="swiper slide-website">
<div class="swiper-wrapper ">

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_bronze.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>65.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página inicial
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Sobre a empresa
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Serviços Resumidos
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Slide Show Dinâmico até 2 .
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_prata.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>90.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página inicial
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Sobre a empresa
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Serviços / Produtos
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página detalhada de Serviços
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Projeto/Portfolio
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Slide Show Dinâmico até 5.
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_ouro.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>135.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página inicial
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Sobre a empresa
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Serviços / Produtos
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página detalhada de Serviços
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Projeto/Portfolio
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Slide Show Dinâmico até 12.
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Vídeo
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Notícia
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Newsletter Formulário
        </p>

          <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Chat de atendimento
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_platina.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>210.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página inicial
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Sobre a empresa
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Serviços / Produtos
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página detalhada de Serviços
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Projeto/Portfolio
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Vídeo & Slide Show Dinâmico até 12.
        </p>
 
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Login | Registo
        </p> 
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Notícia
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Publicidades
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Newsletter Formulário
        </p>

          <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Chat de atendimento
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Formulário + Mapa
        </p>
        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>

    <div class="bg-light p-4 swiper-slide swiper-slide_site">
        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
            style="width: 100%; height: 110px;">
            <img src="./assets/img/planos/plano_diamante.png" class="img_planos">
                <h4 class="mb-3">WebSite</h4>
        </div>

        <span>a partir de:</span>
        <h2>300.000.00kz</h2>
        <p>Inclui:</p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página inicial
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Sobre a empresa
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Serviços / Produtos
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página detalhada de Serviços
        </p>
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Página de Projeto/Portfolio
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Vídeo & Slide Show Dinâmico Ilimitado.
        </p>  
     
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Painel de gestão de Conteúdo
        </p> 


        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Login | Registo
        </p> 

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Notícia
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Área de Publicidades e Comentario
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Cliente ou parceiro
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Icons de Redes sociais
        </p>

        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Newsletter Formulário
        </p>

          <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            Chat de atendimento
        </p>
        
        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>
            2 Formulário Personalizado + Mapa
        </p>
        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                class="fa fa-arrow-right text-secondary ms-2"></i></a>
    </div>
</div>

<div class="swiper-button-next swiper-navBtn"></div>
<div class="swiper-button-prev swiper-navBtn"></div>
<div class="swiper-pagination"></div>
 
</div>
    <!-- Service End -->