<div class="pd-t">

  <div class="swiper mySwiper cat-item2">
    <div class="swiper-wrapper pl-4 px-4">
      <div class="swiper-slide pt-1 pb-1 ">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">FRUTAS & LEGUMES</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class=" pl-2 px-2">BEBIDAS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ÁLCOOL</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">CAFÉ & CHÁ</span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">PETISCOS
          </span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">PADARIA
          </span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2"> PASTELARIA & DOÇARIA </span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">SAUDÁVEL</span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">LACTICÍNIOS E OVOS
          </span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">CEREAIS & BARRAS
          </span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ARROZ & MASSA
          </span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">GELADOS & SOBREMESAS
          </span>
        </a>
      </div> 

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">MOLHOS & CONDIMENTOS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">LATAS E FRASCOS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1 ">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2"> HIGIENE PESSOAL</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">BEBÉ</span>
        </a>
      </div>
   
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">CASA</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ELETRODOMÉSTICOS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1 ">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ELECTRÓNICA</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">PAPELARIA</span>
        </a>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn "></div>
    <div class="swiper-button-prev swiper-navBtn "></div>
  </div>
 



  
</div>