<div class="modal fade show my-5" style="display: block; ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-center">
       
       
       
        <img src="./assets/img/shopping-animate.svg" alt="astronalta" class="left-login-image">

        <h2 class="fs-5">Sem Acesso</h2>
        <p> <a class="btn btn-secondary" href="#/login">FAZER O LOGIN</a>
          para guardares os teus itens no carrinho.</p>
        <hr>
        <a class="btn btn-secondary">CRIAR UMA CONTA</a>
        <hr>
        <a @click="modal_login = !modal_login" data-bs-toggle="tooltip" title="Tooltip">Não, obrigado</a>
    
    
      </div>
    </div>
  </div>

</div>