<div class="pd-t">
  
  <c-menu :qtddCart="qtddCart"></c-menu>

  <div class="pd-xl">
 
    <div style="box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); z-index: 2000;">
      <div class="swiper mySwiper cat-item2">
        <div class="swiper-wrapper pl-4 px-4">
          <div class="swiper-slide pt-1 pb-1 swiper-font ">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">FRUTAS & LEGUMES</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class=" pl-1 px-1 lt-12">BEBIDAS</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">ÁLCOOL</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">CAFÉ & CHÁ</span>
            </a>
          </div>

          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">PETISCOS
              </span>
            </a>
          </div>

          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">PADARIA
              </span>
            </a>
          </div>

          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12"> PASTELARIA & DOÇARIA </span>
            </a>
          </div>

          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">SAUDÁVEL</span>
            </a>
          </div>

          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">LACTICÍNIOS E OVOS
              </span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">CEREAIS & BARRAS
              </span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">ARROZ & MASSA
              </span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">GELADOS & SOBREMESAS
              </span>
            </a>
          </div>

          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">MOLHOS & CONDIMENTOS</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">LATAS E FRASCOS</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font ">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12"> HIGIENE PESSOAL</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">BEBÉ</span>
            </a>
          </div>

          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">CASA</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">ELETRODOMÉSTICOS</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font ">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">ELECTRÓNICA</span>
            </a>
          </div>
          <div class="swiper-slide pt-1 pb-1 swiper-font">
            <a class="d-flex m-2 py-2 bg-light rounded-pill">
              <span class="text-dark pl-1 px-1 lt-12">PAPELARIA</span>
            </a>
          </div>
        </div>

        <div class="swiper-2">
          <div class="swiper-button-next swiper-navBtn "></div>
          <div class="swiper-button-prev swiper-navBtn swiper-3"></div>
        </div>
      </div>

    </div> 
    <!-- Fruits Shop Start-->
    <div class="fruite  ">
      <div class="container ">
        <div class="tab-class text-center">
          <div class="tab-content">
            <div class="row ">

              <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3" v-for="(cat, index) in filteredCategoria"
                :key="cat.id">
                <div class="rounded position-relative fruite-item"
                  style="box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);">
                  <a @click="visualizar(cat.id)">
                    <div class="fruite-img">
                      <img :src="cat.image" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                  </a>
                  <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                    style="top: 5px; left: 5px; font-size: 12px;">
                    {{ cat.categoria }}</div>
                  <div class="p-2 border border-secondary border-top-0 rounded-bottom ">
                    <p style="font-size: 12px; height: 20px;"> {{ cat.name }}</p>
                    <p class="text-dark fs-6 fw-bold mb-0">{{ cat.price }}kw / kg</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">

                      <div class="row ">
                        <div class="col-md-6 col-lg-6 col-xl-2 col-2 px-2">

                          <div class="btn-group-vertical">
                            <button class="btn btn-sm btn-plus rounded-circle bg-light border" @click="cat.qdd++">
                              <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-sm btn-minus rounded-circle bg-light border"
                              @click="cat.qdd ? cat.qdd-- : false" >
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>

                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-10 col-10">
                          <input type="text" class="form-control text-center border-0" style="height: 21px;"
                            v-model="cat.qdd">
                          <a class="btn border border-secondary rounded-pill px-3 text-primary" @click="addCat(index)"
                            style="width: 100%;"><i class="fa fa-shopping-bag me-2 text-primary"></i> ADD</a>
                        </div>
                     

                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fruits Shop End-->

    </div>
  </div>