<div>
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar_blog_1">
            <div class="sidebar-header">
                <div class="logo_section">
                    <a href="index.html"><img class="logo_icon img-responsive" src="./assets/images/logo/logo_icon.png"
                            alt="#" />
                        </a>
                </div>
            </div>
            <div class="sidebar_user_info">
                <div class="icon_setting"></div>
                <div class="user_profle_side">
                    <div class="user_img"><img class="img-responsive" src="./assets/images/layout_img/user_img.jpg" alt="#" />
                    </div>
                    <div class="user_info">
                        <h6>Dany </h6>
                        <p><span class="online_animation"></span> Online</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar_blog_2">
            <h4>Geral</h4>
            <ul class="list-unstyled components">
                <li><a href="#/"><i class="fas fa-tachometer-alt blue2_color"></i> <span>Dashboard</span></a></li>
   
                <li><a href="#Estoque"><i class="fa fa-clone yellow_color"></i> <span>Gestão de Estoque</span></a></li>
                
                <li>
                    <a href="#/encomenda">
                        <i class="fa fa-paper-plane red_color"></i> <span>Encomendas</span></a>
                </li>
              
                <li>
                    <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fa fa-object-group blue2_color"></i> <span>Cadastro </span></a>
                    <ul class="collapse list-unstyled" id="apps">
                        <li><a href="#/produto/cadastro">> <span>Produto</span></a></li>
                        <li><a href="#/produto/categoria">> <span>Categoria</span></a></li>
                        <li><a href="#/produto/subcategoria">> <span>SubCategoria</span></a></li>
                        <li><a href="">> <span>Usuario</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="#lista" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fa fa-object-group blue2_color"></i> <span>Listagem </span></a>
                    <ul class="collapse list-unstyled" id="lista">
                        <li><a href="#/produto/cadastro">> <span>Produto</span></a></li>
                        <li><a href="#/produto/categoria">> <span>Categoria</span></a></li>
                        <li><a href="#/produto/subcategoria">> <span>SubCategoria</span></a></li>
                        <li><a href="">> <span>Usuario</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="#cliente" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fa fa-user yellow_color"></i> <span>Cliente </span></a>
                    <ul class="collapse list-unstyled" id="cliente">
                        <li><a href=" ">> <span>Lista dos clientes</span></a></li>
                        <li><a href="">> <span>Categoria</span></a></li>
                        <li><a href="">> <span>Nivel de Permições</span></a></li>
                    </ul>
                </li>

                <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Guardados </span></a>
                </li>
                <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li> 
                <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
            </ul>
        </div>
    </nav>
    <!-- end sidebar -->


    <!-- topbar -->
    <div >
        <div class="topbar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="full">
                    <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                            class="fa fa-bars"></i></button>
                    <div class="logo_section">
                     <h1 class="" style="color: rgb(255, 255, 255);">
                        Elilo
                     </h1> 
                    </div>
                    <div class="right_topbar">
                        <div class="icon_info">
                            <ul>
                                <li><a href="#"><i class="fa fa-regular fa-bell"></i></i><span class="badge">2</span></a></li>
                                <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                <li><a href="#"><i class="fa fa-regular fa-envelope"></i><span class="badge">3</span></a></li>
                            </ul>
                        
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- end topbar -->
</div>